/* Task 7 */

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap");

:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --text-color: var(--color-black);

  --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --font-size-medium: 1.6rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  color: var(--text-color);
  font-weight: var(--font-weight-regular);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
}

a {
  color: var(--text-color);
}

.visually-hidden {
  display: none;
}

.card-category,
.section-tagline {
  color: var(--color-primary);
}